<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Drew Erny" %></title>
    
    <!-- We use some fonts I got from the interbutt -->
    <link href="http://fonts.googleapis.com/css?family=Lekton" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Molengo" rel="stylesheet" type="text/css">

    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>
  
  <body class="<%= page_classes %>">
    <header>
      <h1>Drew Erny</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/about">Personal</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
